.menu{background-image: url(image/bg.gif);
	width: 1250px;
	height: 70px;
	background-repeat: no-repeat;
}
#shouye{
		color: #b9f605;
		font-weight: bolder;}
#specil{
	color:orange;
}
ul{list-style-type: none;}
li{float: left;
	width: 100px;
	padding-top: 20px;}
a:link{font-family: '微软雅黑';
		text-decoration:none;
		color: white;

		};